extends partials/layout.jade

block variables
	-
		var title = "2359 Presentation";

block body

	#main

		#intro
			.box
				h1 What I've been up to lately
				i.icon.icon-xl.fa.fa-question-circle
			.box
				ul
					li Chilling at Singtel

		#slide1.slide
			h2 Liquid Sky
			h2 My Blog (WIP)
