extends partials/layout.jade

block variables
	-
		var title = "2359 Presentation";

block body

	#main

		#intro(data-slide="0")
			i.icon-bg.icon-xl.fa.fa-question-circle
			.box
				h1 What I've been up to lately

			.box
				ul
					li Liquid Sky <em>(with Singtel)</em>
					li My Blog

		#slide1.slide(data-slide="1").z-10
			i.icon-bg.icon-xl.fa.fa-tint
			.box
				h2 Liquid Sky

		#slide2.slide(data-slide="2").z-5
			i.icon-bg.icon-xl.fa.fa-tint
			.box
				h2 Slide 2
